<!--{% load staticfiles %}-->
{% load static%}
<html>
<head>
    <title>MavLINK Made Easy - Landing Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>


<link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}" />

<img src="{% static "landing/MMElogo.jpg" %}" alt="Logo" width="190" height="170"/>

{% block content %}
<h1> Enter Required Information </h1>
<form method="POST" class="user-form">{% csrf_token %}
	<!--{{ form.as_p}}-->
	<h2>Email:</h2>
	{{form.email}}
	<h3>Degree Track:</h3>
	{{form.degreetrack}}
	<h4>Major:</h4>
	{{form.major}}
	<h5>General Education Classes Taken:</h5>
	{{form.general_classtaken}}
	<h5>Core Classes Taken:</h5>
	{{form.core_classtaken}}
	<h5>Core Extension Classes Taken:</h5>
	{{form.core_extension_classtaken}}
	<button type="submit" class="save btn btn-default">Register</button>    
</form>
{% endblock%}
</br>
</br>


</body>
</html>